NEXT_PUBLIC_SALEOR_API_URL=https://saleor-backend.botflags.com/graphql/
NEXT_PUBLIC_STOREFRONT_URL=https://shop.botflags.com
NEXT_PUBLIC_DEFAULT_CHANNEL=nigeria-ngn
NEXT_PUBLIC_ENABLE_PAYSTACK_PAYMENTS=false

